/*#region Colors*/

$black: #000000;
$black2: #0d0d0d;
$black3: #1a1a1a;
$black4: #262626;
$black5: #333333;
$black6: #404040;
$black7: #4d4d4d;
$black8: #595959;
$black9: #666666;
$white6: #bfbfbf;
$white5: #cccccc;
$white4: #d9d9d9;
$white3: #e6e6e6;
$white2: #f2f2f2;
$white: #ffffff;
//MaterialUI Palette
$blue: #007faa;
$blueLight: #54aedc;
$blueDark: #00537b;
$darkMystery: #1C2545;
$turqouise: #008191;
$turqouiseLight: #4fb1c1;
$turqouiseDark: #005463;
$turqouiseDarker: #09495E;
$red: #AB1139;
$royalBlue: #092DAB;
$orange: #FF7840;

/*#endregion Colors*/

/*#region Fonts*/

@font-face {
  font-family: 'DrawBack-Elegant';
  src: local('DrawBack-Elegant'), url(../assets/DrawBack-Elegant.ttf) format('truetype');
  font-style: normal;
	font-display: swap;
}

/*#endregion Fonts*/

/*#region FlexBox*/

@mixin flex-row-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

@mixin flex-col-center {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

@mixin flex-row-center-around {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

@mixin flex-col-center-around {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
}

@mixin flex-row-center-between {
  display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-col-center-between {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-row-center-evenly {
  display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}

@mixin flex-col-center-evenly {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: center;
}

.flex-row-center {
	@include flex-row-center;
}

.flex-col-center {
	@include flex-col-center;
}

.flex-row-center-around {
	@include flex-row-center-around;
}

.flex-col-center-around {
	@include flex-col-center-around;
}

.flex-row-center-between {
	@include flex-row-center-between;
}

.flex-col-center-between {
	@include flex-col-center-between;
}

.flex-row-center-evenly {
	@include flex-row-center-evenly;
}

.flex-col-center-evenly {
	@include flex-col-center-evenly;
}

/*#endregion FlexBox*/

/*#region MarkUp*/

body {
  /* http://szafranek.net/blog/2009/02/22/font-smoothing-explained/ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  background-color: var(--matterColorBright);
}

ul {
	margin: 0 0 0 10px;
	padding-left: 10px;
}

hr {
  width: 100%;
  display: block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

li {
	margin-top: 2px;
}

label {
	color: $blueDark;
}

a {
	color: $blueDark;
	font-weight: bold;
  text-decoration: underline;
	font-size: calc(10px + 1vmin);
}

/*#endregion MarkUp*/

/*#region Structural*/

// ? MaterialUI sm Breakpoint
// ! (should be 600px)
.five-sixty-max {
	width: 100%;
	max-width: 560px;
	margin: 0 auto 0 auto;
}

@mixin five-sixty-max {
	width: 100%;
	max-width: 560px;
	margin: 0 auto 0 auto;
}

// ? MaterialUI md Breakpoint
.nine-sixty-max {
	width: 100%;
	max-width: 960px;
	margin: 0 auto 0 auto;
}

@mixin nine-sixty-max {
	width: 100%;
	max-width: 960px;
	margin: 0 auto 0 auto;
}

.twelve-sixty-max {
	width: 100%;
	max-width: 1260px;
	margin: 1% auto 0;
}

.twelve-sixty-max-top {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
}

// ! Use this one!
// Todo Convert all twelve sixty containers to eightys
// ? MaterialUI lg Breakpoint
.twelve-eighty-max {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

@mixin twelve-sixty-max {
	width: 100%;
	max-width: 1260px;
	margin: 1% auto 0;
}

// ? MaterialUI xl Breakpoint
.nineteen-twenty-max {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

@mixin nineteen-twenty-max {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

/*#endregion Structural*/

/*#region Styling ClassNames*/

.article-image {
  margin: 0;
  width: 305px;
}

.collections-wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  @include flex-row-center-between;
}

.list-heading {
	color: $white;
	font-size: calc(.5rem + .5vmin);
	font-weight: bold;
}

.flex-grow {
	flex-grow: 1;
}

.flex-grow-100 {
	width: 100%;
}

.center {
	text-align: center;
}

/*#endregion Styling ClassNames*/